.lista-proyectos {
	color: #fff;
	margin: 50px 0;
	&__titulo {
		text-align: center;
		font-size: 18px;
	}
	&__proyecto {
		background-color: darken($color: $negro, $amount: 5);
		margin-top: $unit * 2;
		padding: $unit;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: $transition;

		&-icon {
			background-image: url('./static/img/arrow-right.svg');
			background-position: center center;
			background-size: cover;
			width: 24px;
			height: 24px;
		}

		&:hover {
			background-color: $azul;
			cursor: pointer;
		}

		&:hover span {
			scale: 2;
		}
	}
}
.proyecto--active {
	background-color: $azul;
}
