$amarillo: #fdcb6e;
$rojo: #d63031;
$verde: #00b894;
$negro: #2d3436;
$azul: #0984e3;
$gris: #dfe6e9;

$gris-input: #e0e0e0;

$bg-tarea: rgb(231, 235, 235);

$transition: 0.3s;

$box-shadow: 0 2px 10px 0 $negro;

$unit: 8px;

$max-width: 95%;

$content-width: 100%;

// media queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
