@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--amarillo: #fdcb6e;
	--rojo: #d63031;
	--verde: #00b894;
	--negro: #2d3436;
	--azul: #0984e3;
	--gris: #dfe6e9;

	--grisInput: #e0e0e0;

	--transition: 0.3s;
	--ancho: 95%;
}
@media screen and (min-width: 576px) {
	:root {
		--ancho: 95%;
	}
}
@media screen and (min-width: 768px) {
	:root {
		--ancho: 95%;
	}
}
@media screen and (min-width: 1200px) {
	:root {
		--ancho: 1500px;
	}
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--negro);
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
/* section {
	width: 100%;
	min-height: 100vh;
}
@media screen and (max-width: 1024px) {
	section {
		height: 50vh;
	}
} */
img {
	max-width: 100%;
}
li {
	list-style: none;
}
.btn {
	border: none;
	outline: none;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
}

/** Navbar **/
.navbar {
	position: fixed;
	padding: 30px 10px;
	width: 100%;
	z-index: 10000;
	transition: 0.5s;
}
.scrolled {
	padding: 15px 10px;
	background-color: #fff;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar__contenido {
	max-width: var(--ancho);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	color: #fff;
	transition: var(--transition);
}

.scrolled .logo {
	color: var(--negro);
}
.logo span {
	color: var(--azul);
}
.navbar__menu {
	display: flex;
	gap: 20px;
}
.navbar__menu a {
	font-weight: 500;
	transition: var(--transition);
}
.scrolled .navbar__menu a {
	color: var(--negro);
}
.navbar__menu a:hover {
	color: var(--azul);
}
.navbar__cuentas {
	display: flex;
	gap: 20px;
}
.navbar__cuentas .log-in,
.navbar__cuentas .sign-up {
	font-weight: 500;
	transition: var(--transition);
}
.scrolled .navbar__cuentas .log-in,
.scrolled .navbar__cuentas .sign-up {
	color: var(--negro);
}
.navbar__cuentas .log-in:hover,
.navbar__cuentas .sign-up:hover {
	color: var(--azul);
}

.menu-icon-btn {
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: none;
	outline: none;
}
.menu-icon {
	width: 100%;
	height: 100%;
	background-image: url(../src/static/img/menu.svg);
	background-position: center;
	background-size: contain;
}
.menu-icon-negro {
	width: 100%;
	height: 100%;
	background-image: url(../src/static/img/menu-negro.svg);
	background-position: center;
	background-size: contain;
}

.navbar__menu-dos {
	width: 100%;
	height: 35%;
	position: fixed;
	bottom: -500px;
	z-index: 10000;
	transition: var(--transition);
	border-top: 1px solid var(--gris);
}
.navbar__menu-dos.activo {
	bottom: 0;
}
.navbar__menu-dos div {
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.navbar__menu-dos--menu {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding-top: 10px;
}
.navbar__menu-dos--menu a {
	color: var(--negro);
}
.navbar__menu-dos--menu .menu-btn {
	color: #fff;
	margin: 0;
	width: 200px;
	text-align: center;
	background-color: var(--negro);
}

@media screen and (max-width: 768px) {
	.logo {
		font-size: 22px;
	}
	.navbar {
		padding: 20px 10px;
	}
}

/** Banner **/

.banner {
	background-image: url('../src/static/img/banner.png');
	background-position: center center;
	background-size: cover;
}
.banner__contenido {
	width: var(--ancho);
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner__texto {
	color: #fff;
	text-align: center;
	line-height: 2;
}
.banner__texto h2 {
	font-size: 2em;
}
.banner__texto p {
	font-size: 1.5em;
}
.banner__btn {
	background-color: var(--azul);
	margin: 20px;
	color: #fff;
	transition: var(--transition);
}
.banner__btn:hover {
	letter-spacing: 2px;
}

@media screen and (max-width: 576px) {
	.banner__texto h2 {
		font-size: 18px;
	}
	.banner__texto p {
		font-size: 16px;
	}
	.banner__btn {
		font-size: 16px;
	}
}

/** Nosotros **/
.nosotros__contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: var(--ancho);
	margin: 0 auto;
}
.nosotros__contenedor div {
	width: 100%;
	height: 100vh;
}
.nosotros__contenido {
	padding: 100px 0;
}
.nosotros__titulo span {
	color: var(--azul);
}
.nosotros__descripcion {
	margin-top: 200px;
	width: 60%;
	position: relative;
}
.nosotros__descripcion::before {
	content: '';
	width: 25%;
	height: 6px;
	background-color: var(--azul);
	position: absolute;
	bottom: -20px;
	left: 0;
}
.nosotros__parrafo {
	width: 60%;
	margin: 50px 0;
}
.nosotros__parrafo span {
	font-weight: 700;
}
.nosotros__parrafo .logo-dos {
	color: var(--azul);
}
.nosotros__contenido .btn {
	margin: 0;
}
.nosotros__img {
	width: 50%;
	margin: 0 auto;
	padding-top: 10%;
}

@media screen and (max-width: 1024px) {
	.nosotros {
		height: 50vh;
	}
	.nosotros__contenedor {
		width: 80%;
	}
	.nosotros__descripcion {
		margin-top: 100px;
		width: 80%;
	}
	.nosotros__parrafo {
		width: 80%;
		margin: 50px 0;
	}
	.nosotros__img {
		padding-top: 15%;
	}
}
@media screen and (max-width: 768px) {
	.nosotros__contenedor {
		width: 80%;
	}
	.nosotros__titulo {
		text-align: center;
	}
	.nosotros__descripcion {
		margin-top: 100px;
		width: 100%;
	}
	.nosotros__parrafo {
		width: 100%;
		margin: 50px 0;
	}
	.nosotros__contenido .btn {
		width: 50%;
	}
}

@media screen and (max-width: 576px) {
	.nosotros {
		height: 70vh;
	}
	.nosotros__contenedor {
		width: 90%;
	}
	.nosotros__titulo {
		text-align: center;
	}
	.nosotros__descripcion {
		margin-top: 100px;
		width: 100%;
		/* text-align: justify; */
	}
	.nosotros__parrafo {
		width: 100%;
		margin: 50px 0;
	}
	.nosotros__contenido .btn {
		display: block;
		width: 100%;
		text-align: center;
	}
}

/** Precios **/
.precios {
	background-color: var(--gris);
}
.precios__contenedor {
	max-width: var(--ancho);
	margin: 0 auto;
	height: 100vh;
	padding-top: 100px;
}
.precios__titulo,
.precios__parrafo {
	text-align: center;
}
.precios__parrafo {
	width: 40%;
	margin: 0 auto;
}
.precios__titulo span {
	color: var(--azul);
}

.precios__tarjetas {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
.tarjeta {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 25%;
	height: 700px;
	padding: 20px;
	background-color: #fff;
}
.tarjeta__titulo {
	font-size: 1.5em;
}
.tarjeta__descripcion {
	margin: 30px 0;
}
.tarjeta__precio {
	font-weight: 700;
	font-size: 2em;
}
.tarjeta__boton {
	margin: 30px 0;
	display: block;
	border: 2px solid var(--negro);
	color: var(--negro);
	text-align: center;
	transition: var(--transition);
}
.tarjeta__boton:hover {
	background-color: var(--negro);
	color: #fff;
}
.tarjeta__descripcion-beneficios {
	margin-bottom: 20px;
}
.tarjeta__beneficio {
	margin-bottom: 10px;
}
.tarjeta__beneficio img {
	margin-right: 20px;
}
.tarjeta.principal {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.principal .tarjeta__titulo {
	color: var(--azul);
}
.principal .tarjeta__boton {
	background-color: var(--azul);
	border: 2px solid var(--azul);
	color: #fff;
	transition: var(--transition);
}
.principal .tarjeta__boton:hover {
	border: 2px solid var(--negro);
	background-color: var(--negro);
}

@media screen and (max-width: 1024px) {
	.precios {
		height: 80vh;
	}
	.precios__parrafo {
		width: 60%;
		margin: 0 auto;
	}
	.tarjeta {
		max-width: 30%;
	}
}

@media screen and (max-width: 768px) {
	.precios {
		height: 170vh;
	}
	.precios__tarjetas {
		flex-wrap: wrap;
		gap: 20px;
	}
	.tarjeta {
		max-width: 45%;
	}
}

@media screen and (max-width: 576px) {
	.precios {
		height: 300vh;
	}
	.precios__parrafo {
		width: 90%;
		margin: 0 auto;
	}
	.precios__tarjetas {
		flex-wrap: wrap;
		gap: 20px;
	}
	.tarjeta {
		max-width: 90%;
	}
}

/** Footer **/
.footer {
	width: 100%;
	height: 30vh;
	background-color: var(--negro);
	padding: 30px 0;
}
.footer__contenedor {
	width: var(--ancho);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.footer__enlaces {
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.footer__enlaces h4 {
	color: #fff;
}
.footer__enlaces li {
	margin-top: 10px;
}
.footer__enlaces a {
	transition: var(--transition);
}
.footer__enlaces a:hover {
	color: var(--azul);
}
.footer__social {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}
.footer__social img {
	height: auto;
}
.footer__social img:hover {
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.footer {
		height: 20vh;
	}
	.footer__enlaces {
		display: flex;
		justify-content: space-between;
		width: 70%;
	}
	.footer__social {
		width: 25%;
	}
	.footer__social img {
		width: 30px;
		height: 30px;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		height: 32vh;
	}
	.footer__contenedor {
		flex-direction: column;
	}
	.footer__enlaces {
		width: 100%;
	}
	.footer__social {
		margin-top: 30px;
		width: 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 576px) {
	.footer {
		height: 125vh;
	}
	.footer__contenedor {
		flex-direction: column;
	}
	.footer__enlaces {
		flex-direction: column;
		gap: 40px;
		text-align: center;
	}
	.footer__social {
		margin-top: 30px;
		width: 100%;
		justify-content: center;
	}
}

/**** Formularios ****/
.form-bg {
	height: 100vh;
	background: var(--verde);
	background: -webkit-linear-gradient(to right, var(--azul), var(--verde));
	background: linear-gradient(to right, var(--azul), var(--verde));
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-contenedor {
	background-color: #f3f3f3;
	width: 380px;
	height: 70vh;
	border-radius: 10px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-contenedor .logo {
	color: var(--negro);
	text-align: center;
	margin-top: 10px;
}
.form__titulo {
	color: var(--azul);
	text-align: center;
	margin-top: 20px;
}
.form__campo {
	margin-top: 20px;
}
.form__input {
	display: block;
	width: 100%;
	height: 35px;
	border: none;
	outline: none;
	padding-left: 10px;
	font-size: 18px;
	color: var(--negro);
	background-color: var(--grisInput);
}
.form__label {
	color: var(--negro);
	font-weight: 600;
}
.form__boton {
	background-color: var(--azul);
	width: 100%;
	margin-top: 30px;
	color: #fff;
	font-size: 16px;
	transition: var(--transition);
}
.form__boton:hover {
	letter-spacing: 2px;
}
.form__extras {
	justify-self: end;
}
.form__extras p {
	margin: 10px 0;
}
.form__extras-enlace {
	color: var(--azul);
}
.form__ayuda {
	text-align: center;
	color: rgb(110, 110, 110);
}
/** Iniciar sesión **/
