@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2d3436;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 75%;
  }
}

.logo-appbar {
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d3436;
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: #2d3436;
  padding: 0 8px;
}

.sidebar__logo {
  color: #fff;
  font-weight: bold;
}

.sidebar__logo-dos {
  color: #0984e3;
}

.navbar {
  position: fixed;
  padding: 10px 0px;
  width: 100%;
  z-index: 10000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 20px 0px;
  }
}

.navbar__contenido {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--scrolled {
  padding: 5px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar--scrolled .logo,
.navbar--scrolled .navbar__menu-link,
.navbar--scrolled .log-in,
.navbar--scrolled .sign-up {
  color: #2d3436;
}

@media (min-width: 1200px) {
  .navbar--scrolled {
    padding: 10px 0px;
  }
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.navbar__menu-link:hover {
  color: #0984e3;
}

.navbar__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.navbar__auth .log-in:hover,
.navbar__auth .sign-up:hover {
  color: #0984e3;
}

.navbar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  gap: 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo__two {
  color: #0984e3;
}

@media (min-width: 992px) {
  .logo {
    font-size: 24px;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-btn__icon {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}

.menu-btn__icon--white {
  background-image: url(../src/static/img/menu-blanco.svg);
}

.menu-btn__icon--black {
  background-image: url(../src/static/img/menu-negro.svg);
}

.navbar__menu-two {
  width: 100%;
  height: 35%;
  position: fixed;
  bottom: -500px;
  z-index: 10000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__menu-two--active {
  bottom: 0;
}

.navbar__menu-two-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-top: 1px solid #dfe6e9;
  border-radius: 10px 10px 0 0;
}

.navbar__menu-two-menu {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.navbar__menu-two-btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #2d3436;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 70%;
  text-align: center;
}

.navbar__menu-two-btn:hover {
  background-color: #212728;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .navbar__menu-two-btn {
    width: 50%;
  }
}

.navbar__menu-two-link {
  color: #2d3436;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("./static/img/banner.png");
  background-position: center center;
  background-size: cover;
}

.banner__contenido {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__texto {
  color: #fff;
  text-align: center;
  line-height: 2;
  line-height: 1.4;
}

.banner__texto-titulo {
  font-size: 28px;
}

@media (min-width: 768px) {
  .banner__texto-titulo {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .banner__texto-titulo {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .banner__texto-titulo {
    font-size: 33.6px;
  }
}

.banner__texto-descripcion {
  font-size: 17.6px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .banner__texto-descripcion {
    font-size: 24px;
    width: 60%;
    margin: 20px auto;
  }
}

@media (min-width: 992px) {
  .banner__texto-descripcion {
    font-size: 28px;
    width: 60%;
    margin: 20px auto;
  }
}

@media (min-width: 1200px) {
  .banner__texto-descripcion {
    font-size: 20px;
    width: 100%;
  }
}

.banner__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 32px;
  text-align: center;
}

.banner__btn:hover {
  background-color: #0876ca;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .banner__btn {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .banner__btn {
    width: 15%;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .about__container {
    padding-right: 30%;
  }
}

@media (min-width: 992px) {
  .about__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 60px 0;
  }
}

.about__title-two {
  color: #0984e3;
}

.about__description {
  margin-top: 40px;
  position: relative;
}

.about__description::before {
  content: '';
  width: 25%;
  height: 6px;
  background-color: #0984e3;
  position: absolute;
  bottom: -15px;
  left: 0;
}

@media (min-width: 1200px) {
  .about__description {
    margin-top: 30%;
    width: 70%;
  }
}

.about__text {
  margin-top: 40px;
}

.about__text .logo-uno,
.about__text .logo-dos {
  font-weight: bold;
}

.about__text .logo-dos {
  color: #0984e3;
}

.about__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.about__btn:hover {
  background-color: #0876ca;
  letter-spacing: 1px;
}

@media (min-width: 1200px) {
  .about__btn {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .about {
    height: 100vh;
  }
}

.prices {
  background-color: #dfe6e9;
}

@media (min-width: 1200px) {
  .prices {
    min-height: 100vh;
  }
}

.prices__container {
  padding-top: 50px;
}

@media (min-width: 992px) {
  .prices__container {
    padding-top: 60px;
  }
}

.prices__title {
  text-align: center;
}

.prices__title-two {
  color: #0984e3;
}

.prices__description {
  text-align: center;
}

@media (min-width: 992px) {
  .prices__description {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .prices__description {
    max-width: 50%;
  }
}

.prices__cards {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .prices__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .prices__cards {
    max-width: 80%;
    margin: 40px auto 0 auto;
  }
}

.card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .card {
    max-width: 45%;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 31%;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 30%;
  }
}

.card__title {
  font-size: 20px;
}

.card__description {
  margin: 30px 0;
}

.card__description-benefits {
  margin-bottom: 20px;
}

.card__price {
  font-weight: 700;
  font-size: 32px;
}

.card__btn {
  border: 2px solid #2d3436;
  outline: none;
  margin: 20px 0;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #2d3436;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__btn:hover {
  background-color: #2d3436;
  color: #fff;
}

.card__benefit {
  margin-bottom: 10px;
}

.card__benefits-benefit {
  margin-left: 10px;
}

.card--principal .card__title {
  color: #0984e3;
}

.card--principal .card__btn {
  background-color: #0984e3;
  color: #fff;
  border: 2px solid #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card--principal .card__btn:hover {
  background-color: #2d3436;
  border: 2px solid #2d3436;
}

.footer {
  width: 100%;
  background-color: #2d3436;
  padding: 30px 0;
}

.footer__links {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.footer__links a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__links a:hover {
  color: #0984e3;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.footer__social img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__social img:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 3fr;
        grid-template-columns: 7fr 3fr;
  }
  .footer__social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 4fr;
        grid-template-columns: 6fr 4fr;
  }
  .footer__social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.form__bg {
  height: 100vh;
  background: #00b894;
  background: -webkit-gradient(linear, left top, right top, from(#0984e3), to(#00b894));
  background: linear-gradient(to right, #0984e3, #00b894);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__container {
  background-color: #f3f3f3;
  width: 80%;
  min-height: 70%;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .form__container {
    width: 50%;
    min-height: 60%;
  }
}

@media (min-width: 992px) {
  .form__container {
    width: 45%;
    min-height: 50%;
  }
}

@media (min-width: 1200px) {
  .form__container {
    width: 20%;
    min-width: 350px;
    min-height: 60%;
  }
}

.form__logo {
  color: #2d3436;
  text-align: center;
  margin-top: 10px;
}

.form__logo-two {
  color: #0984e3;
}

.form__title {
  color: #0984e3;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.form__field {
  margin-top: 20px;
}

.form__label {
  color: #2d3436;
  font-weight: 600;
}

.form__input {
  display: block;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  color: #2d3436;
  background-color: #e0e0e0;
}

.form__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  margin-top: 20px;
  font-size: 14.4px;
}

.form__btn:hover {
  background-color: #0876ca;
  letter-spacing: 1px;
}

.form__extras {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__extras-link {
  color: #0984e3;
  text-decoration: underline;
}

.form__tip {
  text-align: center;
  color: #6e6e6e;
}

.form__alert {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}

.alert {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert--error {
  background-color: #d63031;
}

.alert--warning {
  background-color: #fdcb6e;
}

.alert--success {
  background-color: #00b894;
}

.alert__msg {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

@media (min-width: 768px) {
  .alert__msg {
    font-size: 16px;
  }
}

.sk-circle {
  margin: 0px auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #0984e3;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.form-proyecto {
  margin-top: 20px;
  font-size: 20px;
}

.form-proyecto__titulo {
  color: #fff;
  text-align: center;
}

.form-proyecto__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.form-proyecto__input {
  width: 100%;
  height: 24px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 8px;
}

.form-proyecto__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  padding: 5px 0;
  font-size: 17.6px;
}

.form-proyecto__btn:hover {
  background-color: #0876ca;
  letter-spacing: 1px;
}

.form-proyecto__error {
  background-color: #d63031;
  color: #fff;
  font-weight: 500;
}

.lista-proyectos {
  color: #fff;
  margin: 50px 0;
}

.lista-proyectos__titulo {
  text-align: center;
  font-size: 18px;
}

.lista-proyectos__proyecto {
  background-color: #212728;
  margin-top: 16px;
  padding: 8px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lista-proyectos__proyecto-icon {
  background-image: url("./static/img/arrow-right.svg");
  background-position: center center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.lista-proyectos__proyecto:hover {
  background-color: #0984e3;
  cursor: pointer;
}

.lista-proyectos__proyecto:hover span {
  scale: 2;
}

.proyecto--active {
  background-color: #0984e3;
}

.upbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upbar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.upbar__user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e17055;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .content {
    max-width: 80%;
  }
}

.content-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid #dfe6e9;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .content-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.content-header__proyecto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .content-header__proyecto {
    width: 50%;
  }
}

.content-header__proyecto-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-header__form-tarea {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 1200px) {
  .content-header__form-tarea {
    margin-top: 0;
    width: 50%;
  }
}

.proyecto__btn {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  margin-left: 10px;
  border: 2px solid #2d3436;
  outline: none;
  border-radius: 5px;
}

.proyecto__btn:hover {
  cursor: pointer;
}

.proyecto__btn-edit {
  width: 15px;
  height: 15px;
  background-image: url("static/img/edit.svg");
  background-size: cover;
  background-position: center center;
}

.proyecto__btn-delete {
  width: 15px;
  height: 15px;
  background-image: url("static/img/delete.svg");
  background-size: cover;
  background-position: center center;
}

.proyecto__btn-check {
  width: 15px;
  height: 15px;
}

.proyecto__btn-checked {
  width: 15px;
  height: 15px;
  background-image: url("static/img/checked.svg");
  background-size: cover;
  background-position: center center;
}

.form-tareas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-tareas__input {
  width: 70%;
  border: 2px solid #dfe6e9;
  height: 30px;
  outline: none;
  padding-left: 5px;
  font-weight: 600;
}

.form-tareas__input-error {
  background-color: #d63031;
  color: #fff;
}

.form-tareas__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  width: 30%;
  height: 30px;
  font-size: 16px;
  border: none;
}

.form-tareas__btn:hover {
  background-color: #0876ca;
  letter-spacing: 1px;
}

.form-editar-proyecto {
  width: 100%;
}

.form-editar-proyecto form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-editar-proyecto form input {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  color: #2d3436;
  height: 30px;
  padding-right: 5px;
}

.form-editar-proyecto form input.error {
  background-color: #d63031;
  color: #fff;
}

.form-editar-proyecto form button {
  width: 20%;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  font-size: 18px;
}

.form-editar-proyecto form button:hover {
  background-color: #0876ca;
  letter-spacing: 1px;
}

.confirm-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: #f3f3f3;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  border: 1px solid #2d3436;
  -webkit-box-shadow: 0 2px 10px 0 #2d3436;
          box-shadow: 0 2px 10px 0 #2d3436;
  border-radius: 5px;
  z-index: 10000;
}

.confirm-delete h2 {
  color: #2d3436;
  text-align: center;
}

.confirm-delete p {
  text-align: center;
}

.confirm-delete .botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.confirm-delete .btn-cancelar {
  padding: 10px 15px;
  background-color: #0984e3;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm-delete .btn-cancelar:hover {
  background-color: #0876ca;
}

.confirm-delete .btn-eliminar {
  padding: 10px 15px;
  background-color: #d63031;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm-delete .btn-eliminar:hover {
  background-color: #c52728;
}

.confirm-delete-tareas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: #f3f3f3;
  top: calc(50% + 150px);
  left: calc(50% - 150px);
  border: 1px solid #2d3436;
  -webkit-box-shadow: 0 2px 10px 0 #2d3436;
          box-shadow: 0 2px 10px 0 #2d3436;
  border-radius: 5px;
  z-index: 10000;
}

.confirm-delete-tareas h2 {
  color: #2d3436;
  text-align: center;
}

.confirm-delete-tareas p {
  text-align: center;
}

.confirm-delete-tareas .botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.confirm-delete-tareas .btn-cancelar {
  padding: 10px 15px;
  background-color: #0984e3;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm-delete-tareas .btn-cancelar:hover {
  background-color: #0876ca;
}

.confirm-delete-tareas .btn-eliminar {
  padding: 10px 15px;
  background-color: #d63031;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.confirm-delete-tareas .btn-eliminar:hover {
  background-color: #c52728;
}

.tareas {
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.tarea {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7ebeb;
  -webkit-box-shadow: 0 2px 5px 0 #dfe6e9;
          box-shadow: 0 2px 5px 0 #dfe6e9;
  border: 1px solid #ccc;
}

@media (min-width: 1200px) {
  .tarea {
    max-width: 90%;
    margin: 20px auto;
  }
}

.tarea__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  position: relative;
}

.sidebar__cerrar-sesion {
  position: absolute;
  bottom: 20px;
  background-color: #d63031;
  padding: 5px 10px;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__cerrar-sesion:hover {
  cursor: pointer;
  background-color: #b02324;
}
